In [1]:
import glob
import pandas as pd

In [2]:
files = glob.glob("data/*.csv")

In [3]:
files

['data/System 1.csv',
 'data/System 2.csv',
 'data/System 3.csv',
 'data/System 4.csv',
 'data/System 5.csv',
 'data/System 6.csv',
 'data/System 7.csv',
 'data/System 8.csv',
 'data/System 9.csv']

In [82]:
names = []
for i, file in enumerate(files):
    name = "file" + str(i + 1)
    name = pd.read_csv(file, header=9, names=('Date', 'Time', 'ServerWatchdog', 'BeamIsOn', 'ExternalState', 'IsBlanked', 'ServiceModeIsOn'), parse_dates=[['Date', 'Time']])
    names.append(name)

In [84]:
names2 = []
for name in names:
    name = name.fillna(method='ffill')
    name = name.dropna()
    names2.append(name)

    print(name.info())
    print(name.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444714 entries, 109 to 444822
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        444714 non-null  object
 1   ServerWatchdog   444714 non-null  float64
 2   BeamIsOn         444714 non-null  object
 3   ExternalState    444714 non-null  object
 4   IsBlanked        444714 non-null  float64
 5   ServiceModeIsOn  444714 non-null  object
dtypes: float64(2), object(4)
memory usage: 23.8+ MB
None
                   Date_Time  ServerWatchdog BeamIsOn ExternalState  \
109  11/25/2020 09:36:37.881             1.0   On (1)  Maintain (4)
110  11/25/2020 09:36:42.104             1.0   On (1)  Maintain (4)
111  11/25/2020 09:36:44.704             1.0   On (1)  Maintain (4)
112  11/25/2020 09:37:23.131             1.0   On (1)  Maintain (4)
113  11/25/2020 09:38:06.259             1.0   On (1)  Maintain (4)

     IsBlanked ServiceModeIsOn
109        0.0         Off (0)
110        1.0         Off (0)
111        0.0         Off (0)
112        0.0         Off (0)
113        1.0         Off (0)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1133048 entries, 459 to 1133506
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date_Time        1133048 non-null  object
 1   ServerWatchdog   1133048 non-null  float64
 2   BeamIsOn         1133048 non-null  object
 3   ExternalState    1133048 non-null  object
 4   IsBlanked        1133048 non-null  float64
 5   ServiceModeIsOn  1133048 non-null  object
dtypes: float64(2), object(4)
memory usage: 60.5+ MB
None
                   Date_Time  ServerWatchdog BeamIsOn ExternalState  \
459  02/05/2020 07:16:16.388             1.0  Off (0)  Disabled (1)
460  02/05/2020 07:16:18.778             1.0  Off (0)  Disabled (1)
461  02/05/2020 07:17:18.778             1.0  Off (0)  Disabled (1)
462  02/05/2020 07:18:18.777             1.0  Off (0)  Disabled (1)
463  02/05/2020 07:19:18.778             1.0  Off (0)  Disabled (1)

     IsBlanked ServiceModeIsOn
459        1.0          On (1)
460        1.0          On (1)
461        1.0          On (1)
462        1.0          On (1)
463        1.0          On (1)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 876307 entries, 1101 to 877407
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        876307 non-null  object
 1   ServerWatchdog   876307 non-null  float64
 2   BeamIsOn         876307 non-null  object
 3   ExternalState    876307 non-null  object
 4   IsBlanked        876307 non-null  float64
 5   ServiceModeIsOn  876307 non-null  object
dtypes: float64(2), object(4)
memory usage: 46.8+ MB
None
                    Date_Time  ServerWatchdog BeamIsOn ExternalState  \
1101  10/05/2020 15:10:45.972             1.0   On (1)  Maintain (4)
1102  10/05/2020 15:11:03.149             1.0   On (1)  Maintain (4)
1103  10/05/2020 15:12:03.149             1.0   On (1)  Maintain (4)
1104  10/05/2020 15:13:03.149             1.0   On (1)  Maintain (4)
1105  10/05/2020 15:14:03.149             1.0   On (1)  Maintain (4)

      IsBlanked ServiceModeIsOn
1101        1.0          On (1)
1102        1.0          On (1)
1103        1.0          On (1)
1104        1.0          On (1)
1105        1.0          On (1)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 858925 entries, 454 to 859378
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        858925 non-null  object
 1   ServerWatchdog   858925 non-null  float64
 2   BeamIsOn         858925 non-null  object
 3   ExternalState    858925 non-null  object
 4   IsBlanked        858925 non-null  float64
 5   ServiceModeIsOn  858925 non-null  object
dtypes: float64(2), object(4)
memory usage: 45.9+ MB
None
                   Date_Time  ServerWatchdog BeamIsOn ExternalState  \
454  10/05/2020 14:55:56.277             1.0   On (1)  Maintain (4)
455  10/05/2020 14:56:11.165             1.0   On (1)  Maintain (4)
456  10/05/2020 14:56:11.869             1.0   On (1)  Maintain (4)
457  10/05/2020 14:56:13.372             1.0   On (1)  Maintain (4)
458  10/05/2020 14:56:20.575             1.0   On (1)  Maintain (4)

     IsBlanked ServiceModeIsOn
454        1.0         Off (0)
455        0.0         Off (0)
456        0.0         Off (0)
457        1.0         Off (0)
458        0.0         Off (0)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1012008 entries, 428 to 1012435
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date_Time        1012008 non-null  object
 1   ServerWatchdog   1012008 non-null  float64
 2   BeamIsOn         1012008 non-null  object
 3   ExternalState    1012008 non-null  object
 4   IsBlanked        1012008 non-null  float64
 5   ServiceModeIsOn  1012008 non-null  object
dtypes: float64(2), object(4)
memory usage: 54.0+ MB
None
                   Date_Time  ServerWatchdog BeamIsOn ExternalState  \
428  10/05/2020 14:49:56.235             1.0   On (1)  Maintain (4)
429  10/05/2020 14:50:02.854             1.0   On (1)  Maintain (4)
430  10/05/2020 14:51:02.855             1.0   On (1)  Maintain (4)
431  10/05/2020 14:52:02.854             1.0   On (1)  Maintain (4)
432  10/05/2020 14:52:22.676             1.0   On (1)  Maintain (4)

     IsBlanked ServiceModeIsOn
428        1.0         Off (0)
429        1.0         Off (0)
430        1.0         Off (0)
431        1.0         Off (0)
432        0.0         Off (0)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 237887 entries, 47 to 237933
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        237887 non-null  object
 1   ServerWatchdog   237887 non-null  float64
 2   BeamIsOn         237887 non-null  object
 3   ExternalState    237887 non-null  object
 4   IsBlanked        237887 non-null  float64
 5   ServiceModeIsOn  237887 non-null  object
dtypes: float64(2), object(4)
memory usage: 12.7+ MB
None
                  Date_Time  ServerWatchdog BeamIsOn ExternalState  IsBlanked  \
47  10/23/2020 08:43:00.942             1.0   On (1)  Maintain (4)        0.0
48  10/23/2020 08:43:01.970             1.0   On (1)  Maintain (4)        1.0
49  10/23/2020 08:43:02.868             1.0   On (1)  Maintain (4)        1.0
50  10/23/2020 08:43:23.139             1.0   On (1)  Maintain (4)        0.0
51  10/23/2020 08:43:23.930             1.0   On (1)  Maintain (4)        1.0

   ServiceModeIsOn
47         Off (0)
48         Off (0)
49         Off (0)
50         Off (0)
51         Off (0)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 763646 entries, 108 to 763753
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        763646 non-null  object
 1   ServerWatchdog   763646 non-null  float64
 2   BeamIsOn         763646 non-null  object
 3   ExternalState    763646 non-null  object
 4   IsBlanked        763646 non-null  float64
 5   ServiceModeIsOn  763646 non-null  object
dtypes: float64(2), object(4)
memory usage: 40.8+ MB
None
                   Date_Time  ServerWatchdog BeamIsOn ExternalState  \
108  10/05/2020 03:08:41.724             1.0   On (1)  Maintain (4)
109  10/05/2020 03:08:56.422             1.0   On (1)  Maintain (4)
110  10/05/2020 03:09:33.196             1.0   On (1)  Maintain (4)
111  10/05/2020 03:09:46.904             1.0   On (1)  Maintain (4)
112  10/05/2020 03:09:56.422             1.0   On (1)  Maintain (4)

     IsBlanked ServiceModeIsOn
108        1.0         Off (0)
109        1.0         Off (0)
110        0.0         Off (0)
111        1.0         Off (0)
112        1.0         Off (0)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048499 entries, 66 to 1048564
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date_Time        1048499 non-null  object
 1   ServerWatchdog   1048499 non-null  float64
 2   BeamIsOn         1048499 non-null  object
 3   ExternalState    1048499 non-null  object
 4   IsBlanked        1048499 non-null  float64
 5   ServiceModeIsOn  1048499 non-null  object
dtypes: float64(2), object(4)
memory usage: 56.0+ MB
None
                  Date_Time  ServerWatchdog BeamIsOn ExternalState  IsBlanked  \
66  02/06/2020 15:14:23.688             1.0  Off (0)  Maintain (4)        1.0
67  02/06/2020 15:14:37.969             1.0  Off (0)  Maintain (4)        1.0
68  02/06/2020 15:15:37.969             1.0  Off (0)  Maintain (4)        1.0
69  02/06/2020 15:16:37.969             1.0  Off (0)  Maintain (4)        1.0
70  02/06/2020 15:17:37.969             1.0  Off (0)  Maintain (4)        1.0

   ServiceModeIsOn
66          On (1)
67          On (1)
68          On (1)
69          On (1)
70          On (1)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 947305 entries, 278 to 947582
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        947305 non-null  object
 1   ServerWatchdog   947305 non-null  float64
 2   BeamIsOn         947305 non-null  object
 3   ExternalState    947305 non-null  object
 4   IsBlanked        947305 non-null  float64
 5   ServiceModeIsOn  947305 non-null  object
dtypes: float64(2), object(4)
memory usage: 50.6+ MB
None
                   Date_Time  ServerWatchdog BeamIsOn ExternalState  \
278  10/05/2020 15:48:23.227             1.0   On (1)  Maintain (4)
279  10/05/2020 15:49:08.555             1.0   On (1)  Maintain (4)
280  10/05/2020 15:50:03.883             1.0   On (1)  Maintain (4)
281  10/05/2020 15:50:06.119             1.0   On (1)  Maintain (4)
282  10/05/2020 15:50:08.556             1.0   On (1)  Maintain (4)

     IsBlanked ServiceModeIsOn
278        1.0         Off (0)
279        1.0         Off (0)
280        0.0         Off (0)
281        1.0         Off (0)
282        1.0         Off (0)

In [85]:
names2[0]

,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn
109,11/25/2020 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0)
110,11/25/2020 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0)
111,11/25/2020 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0)
112,11/25/2020 09:37:23.131,1.0,On (1),Maintain (4),0.0,Off (0)
113,11/25/2020 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0)
...,...,...,...,...,...,...
444818,02/23/2021 07:55:00.520,1.0,Off (0),Maintain (4),1.0,On (1)
444819,02/23/2021 07:56:00.519,1.0,Off (0),Maintain (4),1.0,On (1)
444820,02/23/2021 07:57:00.519,1.0,Off (0),Maintain (4),1.0,On (1)
444821,02/23/2021 07:58:00.519,1.0,Off (0),Maintain (4),1.0,On (1)
444822,02/23/2021 07:59:00.520,1.0,Off (0),Maintain (4),1.0,On (1)

In [98]:
names3 = []
for name in names2:
    name['Date_Time'] = pd.to_datetime(name['Date_Time'])
    names3.append(name)

In [99]:
for name in names3:
    print(name.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444714 entries, 109 to 444822
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        444714 non-null  datetime64[ns]
 1   ServerWatchdog   444714 non-null  float64
 2   BeamIsOn         444714 non-null  object
 3   ExternalState    444714 non-null  object
 4   IsBlanked        444714 non-null  float64
 5   ServiceModeIsOn  444714 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 23.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1133048 entries, 459 to 1133506
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date_Time        1133048 non-null  datetime64[ns]
 1   ServerWatchdog   1133048 non-null  float64
 2   BeamIsOn         1133048 non-null  object
 3   ExternalState    1133048 non-null  object
 4   IsBlanked        1133048 non-null  float64
 5   ServiceModeIsOn  1133048 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 60.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 876307 entries, 1101 to 877407
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        876307 non-null  datetime64[ns]
 1   ServerWatchdog   876307 non-null  float64
 2   BeamIsOn         876307 non-null  object
 3   ExternalState    876307 non-null  object
 4   IsBlanked        876307 non-null  float64
 5   ServiceModeIsOn  876307 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 46.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 858925 entries, 454 to 859378
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        858925 non-null  datetime64[ns]
 1   ServerWatchdog   858925 non-null  float64
 2   BeamIsOn         858925 non-null  object
 3   ExternalState    858925 non-null  object
 4   IsBlanked        858925 non-null  float64
 5   ServiceModeIsOn  858925 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 45.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1012008 entries, 428 to 1012435
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date_Time        1012008 non-null  datetime64[ns]
 1   ServerWatchdog   1012008 non-null  float64
 2   BeamIsOn         1012008 non-null  object
 3   ExternalState    1012008 non-null  object
 4   IsBlanked        1012008 non-null  float64
 5   ServiceModeIsOn  1012008 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 54.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 237887 entries, 47 to 237933
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        237887 non-null  datetime64[ns]
 1   ServerWatchdog   237887 non-null  float64
 2   BeamIsOn         237887 non-null  object
 3   ExternalState    237887 non-null  object
 4   IsBlanked        237887 non-null  float64
 5   ServiceModeIsOn  237887 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 12.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 763646 entries, 108 to 763753
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        763646 non-null  datetime64[ns]
 1   ServerWatchdog   763646 non-null  float64
 2   BeamIsOn         763646 non-null  object
 3   ExternalState    763646 non-null  object
 4   IsBlanked        763646 non-null  float64
 5   ServiceModeIsOn  763646 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 40.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048499 entries, 66 to 1048564
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Date_Time        1048499 non-null  datetime64[ns]
 1   ServerWatchdog   1048499 non-null  float64
 2   BeamIsOn         1048499 non-null  object
 3   ExternalState    1048499 non-null  object
 4   IsBlanked        1048499 non-null  float64
 5   ServiceModeIsOn  1048499 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 56.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 947305 entries, 278 to 947582
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Date_Time        947305 non-null  datetime64[ns]
 1   ServerWatchdog   947305 non-null  float64
 2   BeamIsOn         947305 non-null  object
 3   ExternalState    947305 non-null  object
 4   IsBlanked        947305 non-null  float64
 5   ServiceModeIsOn  947305 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 50.6+ MB
None

In [100]:
names4 = []
for i, name in enumerate(names3):
    name['MicroscopeNro'] = i + 1
    names4.append(name)

In [101]:
names4

[                     Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 109    2020-11-25 09:36:37.881             1.0   On (1)  Maintain (4)
 110    2020-11-25 09:36:42.104             1.0   On (1)  Maintain (4)
 111    2020-11-25 09:36:44.704             1.0   On (1)  Maintain (4)
 112    2020-11-25 09:37:23.131             1.0   On (1)  Maintain (4)
 113    2020-11-25 09:38:06.259             1.0   On (1)  Maintain (4)
 ...                        ...             ...      ...           ...
 444818 2021-02-23 07:55:00.520             1.0  Off (0)  Maintain (4)
 444819 2021-02-23 07:56:00.519             1.0  Off (0)  Maintain (4)
 444820 2021-02-23 07:57:00.519             1.0  Off (0)  Maintain (4)
 444821 2021-02-23 07:58:00.519             1.0  Off (0)  Maintain (4)
 444822 2021-02-23 07:59:00.520             1.0  Off (0)  Maintain (4)

         IsBlanked ServiceModeIsOn  MicroscopeNro
 109           0.0         Off (0)              1
 110           1.0         Off (0)              1
 111           0.0         Off (0)              1
 112           0.0         Off (0)              1
 113           1.0         Off (0)              1
 ...           ...             ...            ...
 444818        1.0          On (1)              1
 444819        1.0          On (1)              1
 444820        1.0          On (1)              1
 444821        1.0          On (1)              1
 444822        1.0          On (1)              1

 [444714 rows x 7 columns],
                       Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 459     2020-02-05 07:16:16.388             1.0  Off (0)  Disabled (1)
 460     2020-02-05 07:16:18.778             1.0  Off (0)  Disabled (1)
 461     2020-02-05 07:17:18.778             1.0  Off (0)  Disabled (1)
 462     2020-02-05 07:18:18.777             1.0  Off (0)  Disabled (1)
 463     2020-02-05 07:19:18.778             1.0  Off (0)  Disabled (1)
 ...                         ...             ...      ...           ...
 1133502 2021-02-05 11:55:03.233             1.0   On (1)  Maintain (4)
 1133503 2021-02-05 11:56:03.234             1.0   On (1)  Maintain (4)
 1133504 2021-02-05 11:57:03.234             1.0   On (1)  Maintain (4)
 1133505 2021-02-05 11:58:03.234             1.0   On (1)  Maintain (4)
 1133506 2021-02-05 11:59:03.233             1.0   On (1)  Maintain (4)

          IsBlanked ServiceModeIsOn  MicroscopeNro
 459            1.0          On (1)              2
 460            1.0          On (1)              2
 461            1.0          On (1)              2
 462            1.0          On (1)              2
 463            1.0          On (1)              2
 ...            ...             ...            ...
 1133502        1.0         Off (0)              2
 1133503        1.0         Off (0)              2
 1133504        1.0         Off (0)              2
 1133505        1.0         Off (0)              2
 1133506        1.0         Off (0)              2

 [1133048 rows x 7 columns],
                      Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 1101   2020-10-05 15:10:45.972             1.0   On (1)  Maintain (4)
 1102   2020-10-05 15:11:03.149             1.0   On (1)  Maintain (4)
 1103   2020-10-05 15:12:03.149             1.0   On (1)  Maintain (4)
 1104   2020-10-05 15:13:03.149             1.0   On (1)  Maintain (4)
 1105   2020-10-05 15:14:03.149             1.0   On (1)  Maintain (4)
 ...                        ...             ...      ...           ...
 877403 2021-02-05 14:11:13.081             1.0  Off (0)  Maintain (4)
 877404 2021-02-05 14:12:13.081             1.0  Off (0)  Maintain (4)
 877405 2021-02-05 14:13:13.081             1.0  Off (0)  Maintain (4)
 877406 2021-02-05 14:14:13.081             1.0  Off (0)  Maintain (4)
 877407 2021-02-05 14:14:13.354             1.0  Off (0)  Maintain (4)

         IsBlanked ServiceModeIsOn  MicroscopeNro
 1101          1.0          On (1)              3
 1102          1.0          On (1)              3
 1103          1.0          On (1)              3
 1104          1.0          On (1)              3
 1105          1.0          On (1)              3
 ...           ...             ...            ...
 877403        1.0         Off (0)              3
 877404        1.0         Off (0)              3
 877405        1.0         Off (0)              3
 877406        1.0         Off (0)              3
 877407        1.0          On (1)              3

 [876307 rows x 7 columns],
                      Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 454    2020-10-05 14:55:56.277             1.0   On (1)  Maintain (4)
 455    2020-10-05 14:56:11.165             1.0   On (1)  Maintain (4)
 456    2020-10-05 14:56:11.869             1.0   On (1)  Maintain (4)
 457    2020-10-05 14:56:13.372             1.0   On (1)  Maintain (4)
 458    2020-10-05 14:56:20.575             1.0   On (1)  Maintain (4)
 ...                        ...             ...      ...           ...
 859374 2021-02-05 13:59:04.573             1.0   On (1)  Maintain (4)
 859375 2021-02-05 13:59:05.636             1.0   On (1)  Maintain (4)
 859376 2021-02-05 13:59:23.172             1.0   On (1)  Maintain (4)
 859377 2021-02-05 13:59:41.345             1.0   On (1)  Maintain (4)
 859378 2021-02-05 13:59:48.205             1.0   On (1)  Maintain (4)

         IsBlanked ServiceModeIsOn  MicroscopeNro
 454           1.0         Off (0)              4
 455           0.0         Off (0)              4
 456           0.0         Off (0)              4
 457           1.0         Off (0)              4
 458           0.0         Off (0)              4
 ...           ...             ...            ...
 859374        0.0         Off (0)              4
 859375        1.0         Off (0)              4
 859376        1.0         Off (0)              4
 859377        0.0         Off (0)              4
 859378        1.0         Off (0)              4

 [858925 rows x 7 columns],
                       Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 428     2020-10-05 14:49:56.235             1.0   On (1)  Maintain (4)
 429     2020-10-05 14:50:02.854             1.0   On (1)  Maintain (4)
 430     2020-10-05 14:51:02.855             1.0   On (1)  Maintain (4)
 431     2020-10-05 14:52:02.854             1.0   On (1)  Maintain (4)
 432     2020-10-05 14:52:22.676             1.0   On (1)  Maintain (4)
 ...                         ...             ...      ...           ...
 1012431 2021-02-05 13:59:14.747             1.0   On (1)  Maintain (4)
 1012432 2021-02-05 13:59:30.373             1.0   On (1)  Maintain (4)
 1012433 2021-02-05 13:59:30.386             1.0   On (1)  Maintain (4)
 1012434 2021-02-05 13:59:31.143             1.0   On (1)  Maintain (4)
 1012435 2021-02-05 13:59:31.148             1.0   On (1)  Maintain (4)

          IsBlanked ServiceModeIsOn  MicroscopeNro
 428            1.0         Off (0)              5
 429            1.0         Off (0)              5
 430            1.0         Off (0)              5
 431            1.0         Off (0)              5
 432            0.0         Off (0)              5
 ...            ...             ...            ...
 1012431        0.0         Off (0)              5
 1012432        1.0         Off (0)              5
 1012433        0.0         Off (0)              5
 1012434        1.0         Off (0)              5
 1012435        0.0         Off (0)              5

 [1012008 rows x 7 columns],
                      Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 47     2020-10-23 08:43:00.942             1.0   On (1)  Maintain (4)
 48     2020-10-23 08:43:01.970             1.0   On (1)  Maintain (4)
 49     2020-10-23 08:43:02.868             1.0   On (1)  Maintain (4)
 50     2020-10-23 08:43:23.139             1.0   On (1)  Maintain (4)
 51     2020-10-23 08:43:23.930             1.0   On (1)  Maintain (4)
 ...                        ...             ...      ...           ...
 237929 2021-02-23 07:55:29.534             1.0  Off (0)  Maintain (4)
 237930 2021-02-23 07:56:29.534             1.0  Off (0)  Maintain (4)
 237931 2021-02-23 07:57:29.534             1.0  Off (0)  Maintain (4)
 237932 2021-02-23 07:58:29.534             1.0  Off (0)  Maintain (4)
 237933 2021-02-23 07:59:29.534             1.0  Off (0)  Maintain (4)

         IsBlanked ServiceModeIsOn  MicroscopeNro
 47            0.0         Off (0)              6
 48            1.0         Off (0)              6
 49            1.0         Off (0)              6
 50            0.0         Off (0)              6
 51            1.0         Off (0)              6
 ...           ...             ...            ...
 237929        1.0         Off (0)              6
 237930        1.0         Off (0)              6
 237931        1.0         Off (0)              6
 237932        1.0         Off (0)              6
 237933        1.0         Off (0)              6

 [237887 rows x 7 columns],
                      Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 108    2020-10-05 03:08:41.724             1.0   On (1)  Maintain (4)
 109    2020-10-05 03:08:56.422             1.0   On (1)  Maintain (4)
 110    2020-10-05 03:09:33.196             1.0   On (1)  Maintain (4)
 111    2020-10-05 03:09:46.904             1.0   On (1)  Maintain (4)
 112    2020-10-05 03:09:56.422             1.0   On (1)  Maintain (4)
 ...                        ...             ...      ...           ...
 763749 2021-01-18 02:55:11.695             1.0  Off (0)  Maintain (4)
 763750 2021-01-18 02:56:11.696             1.0  Off (0)  Maintain (4)
 763751 2021-01-18 02:57:11.696             1.0  Off (0)  Maintain (4)
 763752 2021-01-18 02:58:11.696             1.0  Off (0)  Maintain (4)
 763753 2021-01-18 02:59:11.696             1.0  Off (0)  Maintain (4)

         IsBlanked ServiceModeIsOn  MicroscopeNro
 108           1.0         Off (0)              7
 109           1.0         Off (0)              7
 110           0.0         Off (0)              7
 111           1.0         Off (0)              7
 112           1.0         Off (0)              7
 ...           ...             ...            ...
 763749        1.0          On (1)              7
 763750        1.0          On (1)              7
 763751        1.0          On (1)              7
 763752        1.0          On (1)              7
 763753        1.0          On (1)              7

 [763646 rows x 7 columns],
                       Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 66      2020-02-06 15:14:23.688             1.0  Off (0)  Maintain (4)
 67      2020-02-06 15:14:37.969             1.0  Off (0)  Maintain (4)
 68      2020-02-06 15:15:37.969             1.0  Off (0)  Maintain (4)
 69      2020-02-06 15:16:37.969             1.0  Off (0)  Maintain (4)
 70      2020-02-06 15:17:37.969             1.0  Off (0)  Maintain (4)
 ...                         ...             ...      ...           ...
 1048560 2020-09-17 12:57:37.423             1.0   On (1)  Maintain (4)
 1048561 2020-09-17 12:58:37.423             1.0   On (1)  Maintain (4)
 1048562 2020-09-17 12:59:37.423             1.0   On (1)  Maintain (4)
 1048563 2020-09-17 13:00:37.423             1.0   On (1)  Maintain (4)
 1048564 2020-09-17 13:01:13.268             1.0   On (1)  Maintain (4)

          IsBlanked ServiceModeIsOn  MicroscopeNro
 66             1.0          On (1)              8
 67             1.0          On (1)              8
 68             1.0          On (1)              8
 69             1.0          On (1)              8
 70             1.0          On (1)              8
 ...            ...             ...            ...
 1048560        1.0         Off (0)              8
 1048561        1.0         Off (0)              8
 1048562        1.0         Off (0)              8
 1048563        1.0         Off (0)              8
 1048564        1.0         Off (0)              8

 [1048499 rows x 7 columns],
                      Date_Time  ServerWatchdog BeamIsOn ExternalState  \
 278    2020-10-05 15:48:23.227             1.0   On (1)  Maintain (4)
 279    2020-10-05 15:49:08.555             1.0   On (1)  Maintain (4)
 280    2020-10-05 15:50:03.883             1.0   On (1)  Maintain (4)
 281    2020-10-05 15:50:06.119             1.0   On (1)  Maintain (4)
 282    2020-10-05 15:50:08.556             1.0   On (1)  Maintain (4)
 ...                        ...             ...      ...           ...
 947578 2021-02-05 14:56:44.471             1.0   On (1)  Maintain (4)
 947579 2021-02-05 14:56:53.141             1.0   On (1)  Maintain (4)
 947580 2021-02-05 14:57:24.387             1.0   On (1)  Maintain (4)
 947581 2021-02-05 14:58:24.383             1.0   On (1)  Maintain (4)
 947582 2021-02-05 14:59:24.382             1.0   On (1)  Maintain (4)

         IsBlanked ServiceModeIsOn  MicroscopeNro
 278           1.0         Off (0)              9
 279           1.0         Off (0)              9
 280           0.0         Off (0)              9
 281           1.0         Off (0)              9
 282           1.0         Off (0)              9
 ...           ...             ...            ...
 947578        1.0         Off (0)              9
 947579        0.0         Off (0)              9
 947580        0.0         Off (0)              9
 947581        0.0         Off (0)              9
 947582        0.0         Off (0)              9

 [947305 rows x 7 columns]]

In [127]:
final = pd.concat([name for name in names4])

In [128]:
final

,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn,MicroscopeNro
109,2020-11-25 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0),1
110,2020-11-25 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0),1
111,2020-11-25 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0),1
112,2020-11-25 09:37:23.131,1.0,On (1),Maintain (4),0.0,Off (0),1
113,2020-11-25 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0),1
...,...,...,...,...,...,...,...
947578,2021-02-05 14:56:44.471,1.0,On (1),Maintain (4),1.0,Off (0),9
947579,2021-02-05 14:56:53.141,1.0,On (1),Maintain (4),0.0,Off (0),9
947580,2021-02-05 14:57:24.387,1.0,On (1),Maintain (4),0.0,Off (0),9
947581,2021-02-05 14:58:24.383,1.0,On (1),Maintain (4),0.0,Off (0),9
947582,2021-02-05 14:59:24.382,1.0,On (1),Maintain (4),0.0,Off (0),9

In [129]:
final = final.reset_index()

In [130]:
final

,index,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn,MicroscopeNro
0,109,2020-11-25 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0),1
1,110,2020-11-25 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0),1
2,111,2020-11-25 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0),1
3,112,2020-11-25 09:37:23.131,1.0,On (1),Maintain (4),0.0,Off (0),1
4,113,2020-11-25 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0),1
...,...,...,...,...,...,...,...,...
7322334,947578,2021-02-05 14:56:44.471,1.0,On (1),Maintain (4),1.0,Off (0),9
7322335,947579,2021-02-05 14:56:53.141,1.0,On (1),Maintain (4),0.0,Off (0),9
7322336,947580,2021-02-05 14:57:24.387,1.0,On (1),Maintain (4),0.0,Off (0),9
7322337,947581,2021-02-05 14:58:24.383,1.0,On (1),Maintain (4),0.0,Off (0),9
7322338,947582,2021-02-05 14:59:24.382,1.0,On (1),Maintain (4),0.0,Off (0),9

In [146]:
# OnOff column

final.loc[(final['ServiceModeIsOn'] == 'On (1)'), 'OnOff'] = 'Service'  
final.loc[(final['ServerWatchdog'] == 1) & (final['BeamIsOn'] == 'On (1)') & (final['ExternalState'] == 'Maintain (4)') & (final['IsBlanked'] ==  0) & (final['ServiceModeIsOn'] == 'Off (0)'), 'OnOff'] = 'Used' 
final.loc[(final['ServerWatchdog'] == 1) & (final['BeamIsOn'] == 'On (1)') & (final['ExternalState'] == 'Maintain (4)') & (final['IsBlanked'] ==  1) & (final['ServiceModeIsOn'] == 'Off (0)'), 'OnOff'] = 'On'

In [147]:
final.loc[(final['OnOff'] != 'Service') & (final['OnOff'] != 'Used') & (final['OnOff'] != 'On'), 'OnOff'] = 'Off'

In [155]:
final = final.drop(['IsUsed'], axis=1)

In [156]:
final.head(50)

,index,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn,MicroscopeNro,OnOff
0,109,2020-11-25 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
1,110,2020-11-25 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0),1,On
2,111,2020-11-25 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
3,112,2020-11-25 09:37:23.131,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
4,113,2020-11-25 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0),1,On
5,114,2020-11-25 09:38:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
6,115,2020-11-25 09:39:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
7,116,2020-11-25 09:40:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
8,117,2020-11-25 09:41:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
9,118,2020-11-25 09:42:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
10,119,2020-11-25 09:43:13.569,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
11,120,2020-11-25 09:43:14.370,1.0,On (1),Maintain (4),1.0,Off (0),1,On
12,121,2020-11-25 09:43:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
13,122,2020-11-25 09:44:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
14,123,2020-11-25 09:45:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
15,124,2020-11-25 09:46:11.484,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
16,125,2020-11-25 09:46:12.304,1.0,On (1),Maintain (4),1.0,Off (0),1,On
17,126,2020-11-25 09:46:17.371,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
18,127,2020-11-25 09:46:17.982,1.0,On (1),Maintain (4),1.0,Off (0),1,On
19,128,2020-11-25 09:46:21.248,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
20,129,2020-11-25 09:46:21.870,1.0,On (1),Maintain (4),1.0,Off (0),1,On
21,130,2020-11-25 09:46:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
22,131,2020-11-25 09:46:24.658,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
23,132,2020-11-25 09:46:25.271,1.0,On (1),Maintain (4),1.0,Off (0),1,On
24,133,2020-11-25 09:47:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
25,134,2020-11-25 09:48:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
26,135,2020-11-25 09:49:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
27,136,2020-11-25 09:50:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
28,137,2020-11-25 09:51:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
29,138,2020-11-25 09:52:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
30,139,2020-11-25 09:53:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
31,140,2020-11-25 09:54:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
32,141,2020-11-25 09:55:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
33,142,2020-11-25 09:56:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
34,143,2020-11-25 09:57:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
35,144,2020-11-25 09:58:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
36,145,2020-11-25 09:59:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
37,146,2020-11-25 10:00:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
38,147,2020-11-25 10:01:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
39,148,2020-11-25 10:02:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
40,149,2020-11-25 10:03:23.130,1.0,On (1),Maintain (4),1.0,Off (0),1,On
41,150,2020-11-25 10:04:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
42,151,2020-11-25 10:05:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
43,152,2020-11-25 10:06:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
44,153,2020-11-25 10:07:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
45,154,2020-11-25 10:08:23.131,1.0,On (1),Maintain (4),1.0,Off (0),1,On
46,155,2020-11-25 10:08:47.899,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
47,156,2020-11-25 10:08:52.112,1.0,On (1),Maintain (4),1.0,Off (0),1,On
48,157,2020-11-25 10:08:54.752,1.0,On (1),Maintain (4),0.0,Off (0),1,Used
49,158,2020-11-25 10:09:23.130,1.0,On (1),Maintain (4),0.0,Off (0),1,Used

In [158]:
final.to_csv('microscopes.csv', index=False)

In [159]:
# Off=1
# On=2
# Used=3
# Service=4
final.loc[(final['OnOff'] == 'Off'), 'OnOff'] = 1
final.loc[(final['OnOff'] == 'On'), 'OnOff'] = 2
final.loc[(final['OnOff'] == 'Used'), 'OnOff'] = 3
final.loc[(final['OnOff'] == 'Service'), 'OnOff'] = 4

In [161]:
final = final.loc[final['OnOff'].diff() != 0]

In [162]:
final

,index,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn,MicroscopeNro,OnOff
0,109,2020-11-25 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0),1,3
1,110,2020-11-25 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0),1,2
2,111,2020-11-25 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0),1,3
4,113,2020-11-25 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0),1,2
10,119,2020-11-25 09:43:13.569,1.0,On (1),Maintain (4),0.0,Off (0),1,3
...,...,...,...,...,...,...,...,...,...
7322331,947575,2021-02-05 14:56:38.158,1.0,On (1),Maintain (4),0.0,Off (0),9,3
7322332,947576,2021-02-05 14:56:38.726,1.0,On (1),Maintain (4),1.0,Off (0),9,2
7322333,947577,2021-02-05 14:56:41.004,1.0,On (1),Maintain (4),0.0,Off (0),9,3
7322334,947578,2021-02-05 14:56:44.471,1.0,On (1),Maintain (4),1.0,Off (0),9,2
7322335,947579,2021-02-05 14:56:53.141,1.0,On (1),Maintain (4),0.0,Off (0),9,3

In [164]:
final['Difference'] = final['Date_Time'].diff()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [165]:
final

,index,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn,MicroscopeNro,OnOff,Difference
0,109,2020-11-25 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0),1,3,NaT
1,110,2020-11-25 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0),1,2,00:00:04.223000
2,111,2020-11-25 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0),1,3,00:00:02.600000
4,113,2020-11-25 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0),1,2,00:01:21.555000
10,119,2020-11-25 09:43:13.569,1.0,On (1),Maintain (4),0.0,Off (0),1,3,00:05:07.310000
...,...,...,...,...,...,...,...,...,...,...
7322331,947575,2021-02-05 14:56:38.158,1.0,On (1),Maintain (4),0.0,Off (0),9,3,00:00:25.978000
7322332,947576,2021-02-05 14:56:38.726,1.0,On (1),Maintain (4),1.0,Off (0),9,2,00:00:00.568000
7322333,947577,2021-02-05 14:56:41.004,1.0,On (1),Maintain (4),0.0,Off (0),9,3,00:00:02.278000
7322334,947578,2021-02-05 14:56:44.471,1.0,On (1),Maintain (4),1.0,Off (0),9,2,00:00:03.467000
7322335,947579,2021-02-05 14:56:53.141,1.0,On (1),Maintain (4),0.0,Off (0),9,3,00:00:08.670000

In [166]:
final.to_csv('microscopes.csv', index=False)

In [167]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4019447 entries, 0 to 7322335
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   index            int64
 1   Date_Time        datetime64[ns]
 2   ServerWatchdog   float64
 3   BeamIsOn         object
 4   ExternalState    object
 5   IsBlanked        float64
 6   ServiceModeIsOn  object
 7   MicroscopeNro    int64
 8   OnOff            object
 9   Difference       timedelta64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(4), timedelta64[ns](1)
memory usage: 337.3+ MB

In [168]:
final.head()

,index,Date_Time,ServerWatchdog,BeamIsOn,ExternalState,IsBlanked,ServiceModeIsOn,MicroscopeNro,OnOff,Difference
0,109,2020-11-25 09:36:37.881,1.0,On (1),Maintain (4),0.0,Off (0),1,3,NaT
1,110,2020-11-25 09:36:42.104,1.0,On (1),Maintain (4),1.0,Off (0),1,2,00:00:04.223000
2,111,2020-11-25 09:36:44.704,1.0,On (1),Maintain (4),0.0,Off (0),1,3,00:00:02.600000
4,113,2020-11-25 09:38:06.259,1.0,On (1),Maintain (4),1.0,Off (0),1,2,00:01:21.555000
10,119,2020-11-25 09:43:13.569,1.0,On (1),Maintain (4),0.0,Off (0),1,3,00:05:07.310000

In [172]:
final.loc[(final['Difference'] == 'NaT'), 'Difference'] = 0
#final["Difference"] = final["Difference"].dt.total_seconds().astype(int)